
div {
    height: 300px;
    width: 500px;
    background-color: whitesmoke;
    margin: 20px;
    border: 20px;
    padding: 20px;

    
}

h1 {
    text-align:center;
}

h2 {
    text-align: left;

}

textarea {
    box-align: center;
}