textarea {
    text-align: center;
    height: 200px;
    width: 350px;
}

div {
    box-align: center;
    height: 400px;
    width: 1220px;
    background-color: whitesmoke;
    margin: 20px;
    border: 20px;
    padding: 45px;
    
}

h1 {
    text-align:center;
}

h2 {
    text-align: left;

}
